# Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
env/
.venv/

# Логи
*.log

# Временные файлы
.DS_Store
.vscode/
.idea/

# Артефакты сборки
dist/
build/
*.egg-info/

# Конфиденциальные данные
config/license_keys.txt
secrets.env
